/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

/app/config/app.php
/app/config/database.php
/app/config/weixin.php
/app/config/platform.php
/app/controllers/WxPay/lib/WxPay.Config.php
/public/dist
/public/node_modules
/chat/config/mysql.py
/chat/config/app.py
*.log
*.pyc
.bashrc
/~*