html,
body,
ul {
  margin: 0px;
  padding: 0px;
  font-family: 'Microsoft YaHei';
}
ul,
li {
  list-style: none;
}
.clearfix {
  overflow: auto;
  *zoom: 1;
}
.chat-body {
  width: 720px;
  min-height: 520px;
  margin-top: 18px;
  margin-left: 30px;
  border: solid #e3e3e3 1px;
  border-bottom: none;
}
#users-list-wrapper {
  float: left;
  width: 150px;
  height: 539px;
  overflow: hidden;
  border-bottom: solid #e3e3e3 1px;
}
.users-list {
  width: 100%;
}
.users-list .user {
  height: 59px;
  line-height: 59px;
  margin-top: -1px;
  border-top: solid #e3e3e3 1px;
  border-bottom: solid #e3e3e3 1px;
}
.users-list .user .photo {
  top: 15px;
  width: 40px;
  height: 40px;
  margin-left: 12px;
  text-align: center;
  position: relative;
  display: inline-block;
}
.users-list .user .name {
  color: #787878;
  margin-left: 5px;
  font-size: 14px;
  cursor: pointer;
}
.users-list .select {
  background-color: #e8e8e8;
}
.chat-main {
  width: 569px;
  height: 540px;
  float: right;
  border-left: solid #e3e3e3 1px;
}
.chat-main .hidden {
  display: none;
}
.chat-main .cur-time {
  color: #cbcbcb;
  font-size: 11px;
  line-height: 30px;
  text-align: center;
  display: none;
}
.chat-main .msg-list {
  position: relative;
}
.chat-main .msg-list .msg-wrap {
  width: 521px;
  height: 419px;
  padding-left: 24px;
  padding-right: 24px;
  position: absolute;
  overflow: hidden;
  border-bottom: solid #e3e3e3 1px;
}
.chat-main .msg-list .msg-wrap .hidden {
  display: none;
}
.chat-main .input-wrap {
  top: 420px;
  width: 529px;
  height: 118px;
  position: relative;
  border-top: solid #e3e3e3 1px;
  border-bottom: solid #e3e3e3 1px;
}
.msg-wrap .item {
  width: 100%;
  text-align: left;
  margin-bottom: 12px;
}
.msg-wrap .item .photo {
  height: 50px;
}
.msg-wrap .item .msg-scope {
  margin-left: 12px;
  margin-right: 12px;
}
.msg-wrap .item .msg-scope .nickname {
  display: none;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 10px;
  color: #6e6e6e;
}
.msg-wrap .item .msg-scope .content {
  margin-top: 7px;
  border-radius: 5px;
  max-width: 200px;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 16px;
  background-color: #f2f2f2;
}
.msg-wrap .from .photo,
.msg-wrap .from .msg-scope {
  float: left;
}
.msg-wrap .self .photo,
.msg-wrap .self .msg-scope {
  float: right;
}
.msg-wrap .self .nickname {
  text-align: right;
}
.input-wrap {
  background-color: #f2f2f2;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
}
.input-wrap .tool {
  height: 40px;
}
.input-wrap .send-btn {
  width: 72px;
  color: white;
  float: right;
  border: none;
  border-radius: 5px;
  margin-top: 7px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  background-color: #0faae7;
}
.input-wrap .input-inner {
  margin-top: 20px;
}
.input-wrap .input-inner .input-content {
  display: block;
  border: none;
  width: 100%;
  height: 60px;
  resize: none;
  background-color: white;
}
.input-wrap .input-inner .input-content:focus {
  outline: none;
}
