.border-style(@color: rgb(227, 230, 230)){
	border: 1px solid @color;
}
.content-body(){
	background: white;
	position: relative;
	margin: 23px 51px;
	width: 790px;
	height: 624px;
	.border-style();
}