<?php

return array(
    
    // 创瑞 -- 短信平台 api 参数
    'chuangrui' => array(
        'url'       => '',
        'name'      => '',
        'password'  => '',
        'sign'      => ''
    ),

    'baidu' => array(
        'map'       => array(
            'app_key'    => ''
        )
    )
);