<!DOCTYPE html>
<html>
    <head>
        <title>复诊资讯</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">         
        <link rel="stylesheet" type="text/css" href="{{ static_url("css/index.css") }}" />
    </head>
    <body>
        <div class="chat-body clearfix">
            <div class="search-wrap clearfix">
                <form class="search-form" action="">
                    <input class="search-input" type="text" name="user_name">
                    <input class="search-submit" type="submit" value="">
                </form>
                <ul class="search-result"><!--
                    <li user_id="<%- user_id %>" class="search-result-li">name</li>
                    <li user_id="<%- user_id %>" class="search-result-li">name</li>
                    <li user_id="<%- user_id %>" class="search-result-li">name</li>
                    <li user_id="<%- user_id %>" class="search-result-li">name</li>
                    <li user_id="<%- user_id %>" class="search-result-li">name</li>-->
                </ul>
            </div>
            <div id="users-list-wrapper">
                <ul class="users-list" id="users-list">
                    {% for id, nickname, photo in users %}
                    <li user_id="{{ id }}" class="user" unload>
                        {% if photo %}
                        <img src="{{ primary_host }}/{{ photo }}" class="photo" />
                        {% else %}
                        <img src="{{ static_url('images/u70.png') }}" class="photo" />
                        {% end %}
                        <span class="name">{{ nickname }}</span>
                        <span class="unread-count">5</span>
                    </li>
                    {% end %}
                </ul>
            </div>
            <div class="chat-main">
                <div class="cur-time">17:30</div>
                <div class="msg-list">
                    {% for id, nickname, photo in users %}
                    <div from_uid="{{ id }}" class="msg-wrap hidden">
                        <ul class="msg-inner">
                        </ul>
                    </div>
                    {% end %}
                </div>
                <div user_id="" class="input-wrap">
                    <div class="input-inner">
                        <textarea id="message-input" class="input-content"></textarea>
                    </div>
                    <button class="send-btn">发送</button>
                </div>
            </div>
        </div>

        <script src="{{ static_url( "js/lib/jquery-1.11.2.min.js" ) }}"></script>
        <script src="{{ static_url( "js/lib/lodash.min.js" ) }}"></script>
        <script src="{{ static_url( "js/lib/iscroll.js" ) }}"></script>

        <script src="{{ static_url( "js/index.js" ) }}"></script>

        <!-- 当前用户信息 start -->
        <script type="text/template" id="current_user_info">
            {
                "name": "",
                "photo": "{{ static_url( "images/u8.png" ) }}"
            }
        </script>
        <!-- 当前用户信息 end -->

        <script type="text/template" id="search-result-template">
            <li user_id="<%- user_id %>" class="search-result-li"><%- name %></li>
        </script>

        <!-- 聊天用户模板 start -->
        <script type="text/template" id="user-info-template">
            <li user_id="<%- id %>" class="user">
                <img src="<%- photo %>" class="photo" />
                <span class="name"><%- name %></span>
                <span class="unread-count">0</span>
            </li>
        </script>
        <!-- 聊天用户模板 end-->
        
        <!-- 聊天记录模板 start -->
        <script type="text/template" id="message-record-template">
            <div from_uid="<%- from_uid %>" class="msg-wrap">
                <ul class="msg-inner">
                </ul>
            </div>
        </script>
        <!-- 聊天记录模板 end -->

        <!-- 聊天消息模板 start -->
        <script type="text/template" id="message-template">
            <li class="item <%- classname %> clearfix">
                <img src="<%- photo %>" class="photo" />
                <div class="msg-scope">
                    <div class="content"><%- content %></div>
                </div>
            </li>
        </script>
        <!-- 聊天消息模板 end -->
    </body>
</html>
    